<!-- inherit from base.html-->
{% extends "portfolio_app/base_template.html" %}

<!-- Replace block content in base_template.html -->
{% block content %}
<h1>Computer Science Portfolios</h1>

<h2>More to come from Justin!</h2>

<!-- inherit from base.html-->
{% comment %} {% extends "portfolio_app/base_template.html" %} {% endcomment %}
<!-- Replace block content in base_template.html -->
{% comment %} {% block content %} {% endcomment %}
{% comment %} <h1>Computer Science Student Portfolios</h1> {% endcomment %}
{% comment %} <h2>List of Students with Active Portfolios</h2> {% endcomment %}

    <ul class="list-group">
        {% for i in studentActivePortfolios %} 
            <li class="list-group-item">Name: {{ i.name }} 
                <p><strong>Title:{{ i.portfolio.title }} 
                <p><strong>Email:{{ i.portfolio.email }}
                <p><strong>Description:{{ i.portfolio.about }}
                <p><strong>Status:{{ i.portfolio.is_Active }}
                </strong></p> 
                </strong></p> 
                </strong></p> 
                <a class="btn btn-info" href="{{ i.get_absolute_url }}" role="button">View Info</a> 
                </strong></p> 
            </li> 
        {% endfor %} 
    </ul>  
{% endblock %}
