<h1>Portfolio title: {{student.portfolio.title}}</h1>

<ul>

    <li>Portfolio Active: {{ student.portfolio.is_active}}</li>
    <li>Contact Email: {{ student.portfolio.email}}</li>
    <li>Description: {{ student.portfolio.about}}</li>
<h2>Projects</h2>
    {% for project in student.portfolio.project_set.all %}
        <li>{{ project.title }}
            <a class="btn btn-primary  btn-sm btn-block" href="{% url 'create_Project' %}" role="button">Create new</a>
            <a class="btn btn-info" href="#" role="button">View</a>
            <a class="btn btn-sm btn-info" href="{% url 'update_Project' project.id %}" role="button">Update</a>
            <a class="btn btn-danger" href="#" role="button">Delete</a>
            <p></p>
        </li>
    {% endfor  %}
</ul>

{% comment %} <p><strong>Email:{{ i.portfolio.email }}
                <p><strong>Description:{{ i.portfolio.about }}
                <p><strong>Status:{{ i.portfolio.is_Active }} {% endcomment %}