{% extends "portfolio_app/base_template.html" %}

<!-- Replace block content in base_template.html -->
{% block content %}

<h1>Portfolio title: {{student.portfolio.title}}</h1>
{% comment %} <div class="blue-box">
    <a class="btn btn-info" href="{% url 'update_Portfolio' student.portfolio.id %}" role="button">Update Portfolio</a>
    </div> {% endcomment %}
<style>
    .blue-box {
        background-color: lightblue;
        padding: 10px;
        border-radius: 5px;
        display: inline-block;
    }
    
    .yellow-box {
        background-color: yellow;
        padding: 10px;
        border-radius: 5px;
        display: inline-block;
    }
    
    .red-box {
        background-color: red;
        padding: 10px;
        border-radius: 5px;
        display: inline-block;
    }
    </style>

<ul>

    <li>Portfolio Active: {{ student.portfolio.is_Active }}</li>
    <li>Contact Email: {{ student.portfolio.email }}</li>
    <li>Description: {{ student.portfolio.about }}</li>
    
<h2>Projects</h2>
<div class="blue-box">
    <a class="btn btn-info" href="{% url 'create_Project' %}" role="button">Create new</a>
    </div>
    {% for project in student.portfolio.project_set.all %}
        <li>{{ project.title }}
            <div class="blue-box">
            <a class="btn btn-info" href="{{ project.get_absolute_url }}" role="button">View</a>
            </div>
            <div class="yellow-box">
            <a class="btn btn-sm btn-info" href="{% url 'update_Project' project.id %}" role="button">Update</a>
            </div>
            <div class="red-box">
            <a class="btn btn-danger btn-sm " href="{% url 'delete_Project' project.id %}" role="button">Delete</a>
            </div>
            <p></p>
        </li>
    {% endfor  %}
</ul>

{% endblock %}
